{% extends 'layout.html' %}
{% block body %}
<div class="row">
  <div class="col col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

    <form method="POST" action="/addtask">
      <div class="form-group">
        <input type="text" name="taskname" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Add Task</button>
    </form>

    <hr>

    <h1><span class="label label-primary">{{ tasksnotcomplete[0].numtasks }}</span></h1>
    <form method="POST" action="/processtasks" class="processtasks">
      {% for task in tasks %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="{{ task.id }}">
            <span {% if task.complete %} class="complete" {% endif %}>{{ task.name }}</span>
          </label>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-success" name="markcomplete">Mark Complete</button>
      <button type="submit" class="btn btn-info" name="marknotcomplete">Mark NOT Complete</button>
      <button type="submit" class="btn btn-danger" name="deletetasks">Delete Tasks</button>
    </form>

  </div>
</div>
{% endblock %}
